/* Normalize */
@import url(./vendor/normalize.css);
/*-------------------------*/


/* Шрифты */
@import url(./vendor/fonts/fonts.css);
/*-------------------------*/

/* Глобальные стили */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #202020;
}
/*-------------------------*/


/* Mixins */

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  padding: 0 14px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding: 0 70px;
  }
}

/*-------------------------*/
